<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/proyecto-prueba/src/assets/styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="/proyecto-prueba/src/assets/images/logo.svg" alt="logo pagina" class="logo">
            <div class="float-right" id="menuOpciones">
                <a href="">Home</a>
                <a href="">New</a>
                <a href="">Popular</a>
                <a href="">Trending</a>
                <a href="">Categories</a>
            </div>
        </div>
        <div class="main-c">
            <main >
                <img src="/proyecto-prueba/src/assets/images/image-web-3-desktop.jpg" alt="img desktop" class="imagen">
                <div class="section-b">
                    <h2>The Bright Future of Web 3.0?</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. tibus a officia rerum obcaecati aperiam voluptatem nostrum eos, totam cupiditate earum pariatur?</p>
                        <button class="btn-a">READ MORE</button>    
                    </div>
                </div>
                
                
            </main>

            <div class="section-a">
                <h1 class="color-a">NEW</h1>
                <div class="article-container">
                    <a href="">Lorem ipsum Libero cupiditate id sint harum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, suscipit? Beatae voluptate nesciunt non, veritatis blanditiis</p>
                </div>
                <div class="article-container">
                    <a href="">Lorem ipsum Libero cupiditate id sint harum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, suscipit? Beatae voluptate nesciunt non, veritatis blanditiis</p>
                    
                </div>
                <div class="article-container">
                    <a href="">Lorem ipsum Libero cupiditate id sint harum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, suscipit? Beatae voluptate nesciunt non, veritatis blanditiis</p>
                    
                </div>
            </div>


        </div>
        



        <div class="article-list">
            <div class="article-item">
                <img src="/proyecto-prueba/src/assets/images/image-retro-pcs.jpg" alt="imagen-1">
                <div>
                    <h2>01</h2>
                    <a href="" >Reviving Retro PCs</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="article-item">
                <img src="/proyecto-prueba/src/assets/images/image-top-laptops.jpg" alt="imagen-2">
                <div>
                    <h2>02</h2>
                    <a href="" >Lorem ipsum dolor sit </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="article-item">
                <img src="/proyecto-prueba/src/assets/images/image-gaming-growth.jpg" alt="imagen-3">
                <div>
                    <h2>03</h2>
                    <a href="" >Lorem ipsum dolor sit </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>